<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" style=background-color:#c1c1c1; >
  <table width="800px" align="center">
    <tr>
      <td colspan="2"><strong>What we offer:</strong> </td>
    </tr>
    <tr>
      <td>Voleyball/ need reservation</td>
      <td>250kč/h</td>
    </tr>
    <tr>
      <td>Fitness</td>
      <td>150kč</td>
    </tr>
    <tr>
      <td>Swimming pool</td>
      <td>100kč/h</td>
    </tr>
    <tr>
      <td>Climbing wall</td>
      <td>150kč/h</td>
    </tr>
    <tr>
      <td>Yoga</td>
      <td>150kč/h</td>
    </tr>
    <tr>
      <td>Exercises for pregnant women</td>
      <td>100kč/h</td>
    </tr>
    <tr>
      <td>Children's corner</td>
      <td>80kč/h</td>
    </tr>
    <tr>
      <td>Minigolf</td>
      <td>150kč/h</td>
    </tr>
    <tr>
      <td>Bowling</td>
      <td>250kč/h</td>
    </tr>
  </table>
<br>
<br>
  <table width="800px" align="center" >
    <tr>
      <td colspan="2"><strong>What we borow:</strong></td>
    </tr>
    <tr>
      <td>Volleyball ball</td>
      <td>50kč</td>
    </tr>
    <tr>
      <td>Towel</td>
      <td>40kč</td>
    </tr>
    <tr>
      <td>Water ring</td>
      <td>50kč/h</td>
    </tr>
    <tr>
      <td>Swimming head</td>
      <td>20kč/h</td>
    </tr>
    <tr>
      <td>Golf hole</td>
      <td>150kč/h</td>
    </tr>
    <tr>
      <td>Golf ball</td>
      <td>10kč/h</td>
    </tr>
    <tr>
      <td>Bowling shoes</td>
      <td>free</td>
    </tr>
  </table>

</div>
{% endblock %}
