<!DOCTYPE html>
{% extends 'base.html' %}
{% block content %}
<div class="jumbotron" style=background-color:#c1c1c1; >
  <h1>Reservation</h1>
  <h2>Free terms</h2>
  <p>Make your reservation by clicking on date</p>
  <p>Green: empty <br>Red: reserved <br>black: closed </p>
  <table>
    <tr>
      <td>Date</td>
      <td>6-7</td>
      <td>7-8</td>
      <td>8-9</td>
      <td>9-10</td>
      <td>10-11</td>
      <td>11-12</td>
      <td>12-13</td>
      <td>13-14</td>
      <td>14-15</td>
      <td>15-16</td>
      <td>16-17</td>
      <td>17-18</td>
      <td>18-19</td>
      <td>19-20</td>
      <td>20-21</td>
      <td>21-22</td>
      <td>22-23</td>
      <td>23-24</td>
    </tr>
  {% for date in reservation_date %}
  <tr>
    <td><a href="reservation/{{date.day_id}}">{{date.Date}}</a></td>
    <td class = 'time'>{{date.T6_7}}</td>
    <td class = 'time'>{{date.T7_8}}</td>
    <td class = 'time'>{{date.T8_9}}</td>
    <td class = 'time'>{{date.T9_10}}</td>
    <td class = 'time'>{{date.T10_11}}</td>
    <td class = 'time'>{{date.T11_12}}</td>
    <td class = 'time'>{{date.T12_13}}</td>
    <td class = 'time'>{{date.T13_14}}</td>
    <td class = 'time'>{{date.T14_15}}</td>
    <td class = 'time'>{{date.T15_16}}</td>
    <td class = 'time'>{{date.T16_17}}</td>
    <td class = 'time'>{{date.T17_18}}</td>
    <td class = 'time'>{{date.T18_19}}</td>
    <td class = 'time'>{{date.T19_20}}</td>
    <td class = 'time'>{{date.T20_21}}</td>
    <td class = 'time'>{{date.T21_22}}</td>
    <td class = 'time'>{{date.T22_23}}</td>
    <td class = 'time'>{{date.T23_24}}</td>
  </tr>
  {% endfor %}
  </table>

  </form>
  <script>
  var x = document.getElementsByClassName("time");
  for (var i = 0; i < x.length; i++) {
  if (x[i].textContent.includes('open'))
      x[i].style.backgroundColor = "green"
  else if (x[i].textContent.includes('closed'))
      x[i].style.backgroundColor = "black"

  else
      x[i].style.backgroundColor = "red"
      x[i].innerHTML = ""



  }
  </script>
    </div>
  {% endblock %}
